* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    color: white;
    background-color: #0c645d;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url('../assets/images/back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    scrollbar-width: thin;
}

body:hover {
    scrollbar-width: auto;
}

button {
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 28px;
    padding: 5px;
    cursor: pointer;
    width: 100px;
}

button .processButton {
    margin-left: 0px;
    margin-right: 20px;
}

button:hover {
    border-color: lightseagreen;
}

button:focus {
    border-color: lightgreen;
    background-color: lightgray;
}

#backButton {
    position: absolute;
    top: 16px;
    right: 24px;
    width: 24px;
    height: 24px;
    filter: invert(1);
    cursor: pointer;
}

#limpar {
    width: 100px;
}

.secao-t2u {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.t2uObj {
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 100%;
    margin-block: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.t2uDiv {
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: #ffffff55;
}

input {
    width: 100%;
    height: 28px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

input:focus {
    border-color: lightgreen;
}

#output {
    width: 100%;
    height: 28px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.divMain {
    position: relative;
    display: inline-grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1512px;
    height: 100vh;
    max-height: 750px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #101b17aa;
}

.divInfo {
    position: relative;
    min-width: 350px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    padding-top: 55px;
}

.divInfo h1 {
    font-size: 32px;
    font-weight: normal;
}

.inColumn h2 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: normal;
}

.inColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfilImage {
    margin: 25px auto;
    width: 156px;
    height: 156px;
    border-radius: 78px;
    border: 4px solid white;
    margin-bottom: 55px;
}

.clpurple {
    color: #a558ee;
    font-weight: 700;
}

.divMenu {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 33% 33% 33%;
    background-color: transparent;
    padding: 10px;
}

.divDatail {
    position: relative;
    padding-top: 40px;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

.divMenu-item {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
    transition: background .3s;
    height: 160px;
}

.divMenu-item:hover {
    background-color: #000000;
}

.color-picker {
    margin-top: 20px;
    width: 250px;
    height: 50px;
}

.color-values {
    margin-top: 20px;
    font-size: 1.2em;
}

.color-values-span {
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 150px;
    margin-block: 10px;
    padding: 10px;
    font-size: 15px;
    resize: none;
    border-radius: 5px;
    border: 1px solid lightgray;
}

textarea:focus {
    border-color: lightgreen;
}


pre {
    margin-block: 10px;
    width: 100%;
    color: black;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    height: auto;
    max-height: 340px;
    overflow: auto;
    background-color: #eeeeee;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

pre:focus {
    border-color: lightgreen;
}

.key {
    color: blue;
}

.string {
    color: green;
}

.number {
    color: purple;
}

.boolean {
    color: orange;
}

.bracket {
    color: black;
}

.colon {
    color: red;
}

.comma {
    color: red;
}

.ml-10 {
    margin-left: 10px;
}

@media (max-width: 1300px) {
    .divMain {
        margin-inline: 20px;
    }

    .divMenu {
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 768px) {
    .divMain {
        margin-inline: 1px;
        grid-template-columns: 1fr;
        max-height: none;
    }

    .divMenu {grid-template-columns: 95%;}
}

/* Estilo padrão para todas as barras de rolagem */
*::-webkit-scrollbar {
    width: 6px;
    /* Largura padrão */
}

/* Estilo para a trilha da barra de rolagem */
*::-webkit-scrollbar-track {
    background: #222;
}

/* Estilo para o polegar da barra de rolagem */
*::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Estilo ao passar o mouse sobre a barra de rolagem */
*::-webkit-scrollbar-thumb:hover {
    background: #555;
    width: 20px;
    /* Largura ao passar o mouse */
    scrollbar-width: 20px;
    /* Largura ao passar o mouse */
}

/* Para Firefox */
* {
    scrollbar-width: thin;
    /* Largura padrão */
    scrollbar-color: #888 #222;
    /* Cor do polegar e da trilha */
}

/* Estilo ao passar o mouse sobre a barra de rolagem no Firefox */
*::-moz-scrollbar-thumb:hover {
    background: #555;
    width: 20px;
    scrollbar-width: 20px;
    /* Largura ao passar o mouse */
}
